* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.selected {
}


/* wiggle note */

@keyframes wiggleAnimation {
    0%  { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

.wiggleNote {
    animation-name: wiggleAnimation;
    animation-duration: 1s;
}


/* note editor */

/* display glass pane in viewport */
.modalDialog {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    /* display flex to center dialog form horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.noteEditor textarea[name="description"] {
    height: 6em;
}

/* display form elements with full width */
.col>textarea, .col>input[type="text"] {
    width: 100%;
    border: 0;
}

/* align checkbox left */
.col>input[type="checkbox"] {
    margin-left: 0;
}

.datepicker {
    width: 6em;
    max-width: 6em;
}