body {
    background-color: #f2f200;
}

.header {
    background-color: burlywood;
}

.selected {
    background-color: lightblue;
}

.note {
    background-color: #ffffff;
    border-top-color: #f2f200;
}

.modalDialog {
    background-color: rgba(255,255,255,0.5);
}

.noteEditor {
    background-color: burlywood;
}
