* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    background-color: #f2f200;
}

.container {
    background-color: burlywood;
    padding: 1em;
}

.filter {
    padding-top: 1em;
}

.selected {
    background-color: lightblue;
}

.right {
    float: right;
    margin-left: 1em;
}

.icon-importance {
    background: url(power.svg) no-repeat;
    background-size: 1.5em 1.5em;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
}

/* column grid */

.row {
    display: flex;
}


.row:not(:first-child) {
    margin-top: 1em;
}

.col:not(:first-child) {
    margin-left: 1em;
}

.col-1 {
    flex: 0 0 13em;
}

.col-2 {
    flex: 1 1 30em;
}

.col-3 {
    flex: 0 0 5em;
}


/* note list */

.note {
    background-color: #ffffff;
    min-width: 50em;
    border-top: 1px solid #f2f200;
    padding: 1em;
}

.col-description {
    overflow: hidden;
    max-height: 2.3em;
}

.col-editbutton {
    position: relative;
}

.editbutton {
    position: absolute;
    width: 5em;
    height: 4em;
    right: 0em;
    bottom: 0em;
}


/* note editor */

.modalDialog {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modalDialog>div {
    position: absolute;
    left: 10em;
    top: 10em;
    right: 10em;
    background-color: #a2faff;
}

.noteEditor textarea[name="description"] {
    height: 6em;
}

/* display form elements with full width */
.col>textarea, .col>input[type="text"] {
    width: 100%;
    border: 0;
}

/* align checkbox left */
.col>input[type="checkbox"] {
    margin-left: 0;
}




/* Small screens */
@media all and (max-width: 500px) {
    .row {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }

    .row:not(:first-child) {
        margin-left: 0em;
    }

    .col:not(:first-child) {
        margin-left: 0em;
        margin-top: 1em;
    }

    .col-1 {
        flex: 1 0 2em;
    }

    .col-2 {
        flex: 1 0 2em;
    }

    .col-3 {
        flex: 1 0 2em;
    }

    .col-editbutton {
        position: static;
    }

    .editbutton {
        position: relative;
        width: 100%;
        height: 4em;
    }
}
