/* theme black */

body {
    background-color: #e8e8e8;
}

.header {
    background-color: #d4d4d4;
}

.selected {
    background-color: #d1d1d1;
}

.note {
    background-color: #ffffff;
    border-top-color: #d1d1d1;
}

.modalDialog {
    background-color: rgba(209,209,209,0.5);
}

.noteEditor {
    background-color: #d1d1d1;
}
